# Node modules
node_modules/

# Build output
dist/

# TypeScript cache
*.tsbuildinfo

# Environment variables/Users/phil/Vercel/Experiments/rscpd/.gitignore
.env

# Logs
logs/
*.log
pnpm-debug.log*

# Test
coverage/

# Local dev stuff
tmp/
rsckit/*.json
.rsckit

# Sonda (build viz)
sonda-report.html

# Annoying
.DS_Store


